.content {
  position: relative;
  top: 0;
  left: 0;
  /* background-color: rgba(158, 154, 154, 0.568); */
}

.player {
  width: 34.5rem;
  height: 55.563rem;
  /* background-color: rgb(59, 219, 107); */
  top: 6rem;
  left: 15rem;
  position: absolute;
}

.recently-play {
  position: absolute;
  top: 6rem;
  left: 65rem;
  width: 44.875rem;
  height: 55.563rem;
  /* background-color: rgba(169, 169, 169, 0.562); */
  padding: 1rem;
}

.recently-play h1 {
  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 1.625rem;
  line-height: 2rem;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #ffffff;
}

.container {
  width: 44.875rem;
  height: 41.25rem;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.item {
  width: 44.875rem;
  height: 5.5rem;
  display: flex;
  flex-direction: row;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}

.small-img {
  size: 5rem;
}

.info {
  margin-left: 2rem;
  width: 9.5rem;
  height: 3.063rem;
}

.song {
  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #ebebeb;
}

.artist {
  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: 0.05em;
  color: rgba(235, 235, 235, 0.5);
}

.thDot {
  position: absolute;
  width: 2rem;
  height: 0.438rem;
  top: 1.5rem;
  right:1rem;
}

.thDot:hover {
  filter: brightness(120%); 
}

.item:hover {
  background-color: rgba(255, 255, 255, 0.144);
}
