.confirmbt {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 54.975%;
  top: 50.68%;
}
.backbt {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 34.575%;
  top: 50.68%;
}

.resetpw-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Inter";
}

.npw-box {
  position: absolute;
  width: 600px;
  height: 97px;
  left: 34.375%;
  top: 23.15%;
}

.cnpw-box {
  position: absolute;
  width: 600px;
  height: 97px;
  left: 34.375%;
  top: 33.35%;
}

.resetpw-form button {
  background: #4d194d;
  border-radius: 40px;
  font-style: normal;
  color: #fff;
  padding: 10px;
  border: none;
}
