.option-ab {
  position: absolute;
  top: 3.5rem;
  background-color: #312244;
  width: 12.5rem;
  height: 7rem;
  right: 0rem;
  border-radius: 1.25rem;
}
.op-item-ab {
  width: 12.5rem;
  height: 1.375rem;
  border-bottom: 1px solid rgba(235, 235, 235, 0.5);
  margin-top: 0.35rem;
  /* padding-left: .5rem; */
  
}
.dd-ad {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
}

.close-op-ab {
    margin-top: 0.35rem;
    /* padding-left: .5rem;     */
}

.close-op-ab h4 {
    color: red;
}

.op-item-ab h4 {
    color: #EBEBEB;
}

.close-op-ab:hover , .op-item-ab:hover {
    background-color: #ffffff17;
}