.dropdown {
  position: relative;
  left: 63rem;
  display: flex;
  flex-direction: column;
}

.option {
  position: absolute;
  top: 4rem;
  background-color: #312244;
  width: 12.5rem;
  height: 9.5rem;
  border-radius: 1.25rem;
}

.op-item {
  width: 12.5rem;
  height: 1.375rem;
  border-bottom: 1px solid rgb(155, 154, 154);
  margin-top: .35rem;
}

.option h4 {
  margin-left: 1rem;
  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.375rem;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #ebebeb;
}

.close-op{
  width: 12.5rem;
  height: 1.375rem;
  margin-top: .5rem;
  align-items: center;
}

.close-op h4{
  color: red;
}

.close-op:hover , .op-item:hover {
  background-color: #ffffff17;
}

