
@media only screen and (max-width : 1920px) {
  .login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    font-family: "Inter";
    height: 37.5rem;
    width: 25rem;
  }
  .logoBar {
    position: absolute;
    width: 50.75rem;
    height: 13.438rem;
    left: 28.8542%;
    top: 13.61%;
  }
  
  .userBar {
    position: absolute;
    top: 42.22%;
    left: 31.375%;
    width: 37.5rem;
    height: 7.313rem;
  }
  
  .passwordBar {
    position: absolute;
    width: 37.5rem;
    height: 9.688rem;
    top: 54.352%;
    left: 31.375%;
    margin-top: 1.9rem;
  }
  
  .usem-font {
    position: absolute;
    font-family: Rambla;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin-left: 2.7rem;
    margin-left: 5rem;
  
    letter-spacing: 0.05em;
  
    color: #ebebeb;
  }
  
  .pw-font {
    position: absolute;
    font-family: Rambla;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 2.25rem;
    margin-left: 2.7rem;
    margin-left: 5rem;
  
    letter-spacing: 0.05em;
  
    color: #ebebeb;
  }
  
  .usem-box {
    position: absolute;
    width: 37.5rem;
    height: 5rem;
    /* left: 660px;
    top: 493px; */
  
    background: #c4c4c4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;
    border: none;
  }
  .pw-box {
    position: absolute;
    width: 37.5rem;
    height: 5rem;
    /* left: 660px;
    top: 493px; */
  
    background: #c4c4c4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;
    border: none;
  }
  
  .forgot {
    position: absolute;
    width: 9.875rem;
    height: 1.5rem;
    left: 84%;
    top: 80.48%;
  
    font-family: Rambla;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.05em;
  
    color: #ebebeb;
  }
  
  .signup {
    position: absolute;
    width: 12rem;
    height: 1.5rem;
    left: 8%;
    top: 80.48%;
  
    font-family: Rambla;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.05em;
  
    color: #ebebeb;
  }
  
  .login_form button {
    background: #4d194d;
    border-radius: 40px;
    font-style: normal;
    color: #fff;
    padding: 10px;
    border: none;
  } 
  
  .signinBt {
    position: absolute;
    width: 12.5rem;
    height: 3.125rem;
    left: 43.5%;
    top: 80%; 
  }
  
  ::placeholder {
    font-size: medium;
  }
  
  .login_form input {
    font-family: Rambla;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 2.313rem;
    margin-left: 2.688rem;
    /* identical to box height */
  
    letter-spacing: 0.05em;
  
    color: #777777;
  } 
}


