
.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Inter";
}
.logoBar {
  position: absolute;
  width: 812px;
  height: 215px;
  left: 28.8542%;
  top: 13.61%;
}

.userBar {
  position: absolute;
  top: 42.22%;
  left: 31.375%;
  width: 600px;
  height: 117px;
}

.passwordBar {
  position: absolute;
  width: 600px;
  height: 155px;
  top: 54.352%;
  left: 31.375%;
  margin-top: 30px;
}

.usem-font {
  position: absolute;
  width: 225px;
  height: 37px;

  /* left: 694px;
  top: 456px; */

  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
  margin-left: 43px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #ebebeb;
}

.pw-font {
  position: absolute;
  width: 127px;
  height: 37px;

  /* left: 694px;
  top: 587px; */

  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
  margin-left: 43px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #ebebeb;
}

.usem-box {
  position: absolute;
  width: 600px;
  height: 80px;
  /* left: 660px;
  top: 493px; */

  background: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;
}
.pw-box {
  position: absolute;
  width: 600px;
  height: 80px;
  /* left: 660px;
  top: 493px; */

  background: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;
}

.forgot {
  position: absolute;
  width: 158px;
  height: 24px;
  left: 76%;
  top: 80.48%;

  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.05em;

  color: #ebebeb;
}

.signup {
  position: absolute;
  width: 198px;
  height: 24px;
  left: 4%;
  top: 80.48%;

  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.05em;

  color: #ebebeb;
}

/* button {
  background: #4d194d;
  border-radius: 40px;
  font-style: normal;
  color: #fff;
  padding: 10px;
  border: none;
} */

.signinBt {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 44.7916%;
  top: 80%;
}

::placeholder {
  font-size: medium;
}

input[type="username-email"] {
  padding-left: 50px;
  font-size: larger;
}
input[type="password"] {
  padding-left: 50px;
  font-size: larger;
  padding-right: 30px;
}
