
.email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Inter";

}
.emailBar {
  position: absolute;
  left: 35%;
  top: 9.3%;
  width: 660px;
  height: 250px;
  margin-top: 50px;
}
.emfont {
  position: absolute;
  width: 75px;
  height: 37px;
  /* left: 694px;
  top: 250px; */

  font-family: Rambla;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 37px;
  margin-left: 43px;
  /* identical to box height */

  letter-spacing: 0.05em;

  color: #ebebeb;
}
.em-box {
  position: absolute;
  width: 600px;
  height: 60px;
  background: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;
}

.next-bt {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 55.6%;
  top: 37.68%;
}
.back-bt {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 35%;
  top: 37.68%;
}

::placeholder {
  font-size: medium;
}

input {
  padding-left: 50px;
  font-size: larger;
}

/* button {
  background: #4d194d;
  border-radius: 40px;
  font-style: normal;
  color: #fff;
  padding: 10px;
  border: none;
} */
